:root {
  --very-dark-grayish-blue: #48556a;
  --desaturated-dark-blue: #6d7f97;
  --grayish-blue: #9eafc2;
  --light-grayish-blue: #ecf2f8;
  --links: #3e52a3;
  --paragraph: #66778d;
  --date: #6b7684;
  --white: #ffffff;
}