@use '../utils/mixins' as *;
// Mobile Design First
.card {
  background-color: var(--white);
  @include manrope;
  max-width: 20.438rem;
  border-radius: 0.625rem;
  user-select: none;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5034);
  position: relative;

  &__figure {
    max-width: 20.438rem;
    height: 12.5rem;

    &-img {
      width: 20.438rem;
      height: 12.5rem;
      object-fit: cover;
      object-position: center 25%;
      border-radius: 0.625rem 0.625rem 0 0;
    }
  }

  &__title {
    user-select: text;
    padding: 2.25rem 2rem 0.75rem 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.013rem;
    color: var(--very-dark-grayish-blue);
  }

  &__paragraph {
    user-select: text;
    padding: 0 2rem 2rem 2rem;
    font-size: 0.813rem;
    line-height: 1.25rem;
    letter-spacing: 0.008rem;
    color: var(--paragraph);

    &-padding {
      padding: 0 2rem 1.25rem 2rem;
    }

  }

  &__user {
    display: flex;
    align-items: center;
    padding: 0 2rem 1.25rem 2rem;
    position: relative;
    z-index: 1;

    &-info {
      user-select: text;
      display: flex;
      flex-direction: column;
      margin: 0 3.688rem 0 1rem;
    }

    &-avatar {
      max-width: 2.5rem;
      height: auto;
      border-radius: 50%;
      cursor: pointer;
    }

    &-username {
      font-size: 0.813rem;
      line-height: 1.25rem;
      letter-spacing: 0.008rem;
      font-weight: 700;
      color: var(--very-dark-grayish-blue);
      cursor: pointer;
    }

    &-date {
      font-size: 0.813rem;
      line-height: 1.25rem;
      letter-spacing: 0.008rem;
      font-weight: 500;
      color: var(--date);
    }

    &-hidden {
      opacity: 0;
    }
  }

  &__share {
    &-button {
      width: 2rem;
      height: 2rem;
      border: none;
      border-radius: 50%;
      background-color: var(--light-grayish-blue);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-svg {
      max-width: 0.9rem;
      height: auto;
    }
  }
// Desktop Design
  @media (min-width: 90rem) {
    max-width: 45.625rem;
    height: 17.5rem;
    display: flex;
    flex-direction: row;

    &__content {
      padding: 2rem 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__figure {
      max-width: 17.813rem;
      height: 17.5rem;

      &-img {
        max-width: 17.813rem;
        height: 100%;
        object-position: left;
        border-radius: 0.625rem 0 0 0.625rem;
      }
    }

    &__title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.016rem;
      padding: 0;
    }

    &__paragraph {
      font-size: 0.813rem;
      line-height: 1.25rem;
      letter-spacing: 0.008rem;
      padding: 0;
      margin: 0.75rem 0 1.25rem 0;
    }

    &__user {
      width: 22.813rem;
      padding: 0;

      &-info {
        margin: 0 10.063rem 0 1rem;
      }
    }
  }
}