@use '../utils/mixins' as *;

.footer {
  @include manrope;
  font-weight: 700;
  margin-bottom: 1.25rem;

  &__attribution {
    font-size: 0.810rem;
    text-align: center;
  }

  &__link {
    color: var(--links);
  }
}